<div class="bootstrap-wrapper">
   
    <div class="container">
        
        <div class="row" style="margin-top: 10px;">
            
            <div class="col-md-6 offset-md-3">
                
                <div class="container text-center" >
                    <h1 class="text-center">Enter Monthly Billing Details </h1>
                </div>
                  
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                            <mat-label>Select Customer</mat-label>
                            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                                <mat-option *ngFor="let cust of filteredCustomers | async" [value]="cust" (click)=addCustomer(cust)>
                                    {{cust.name}} 
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <br><br>
                        
                    </form>
                    <button (click)="deleteCustomer()" mat-raised-button color="primary">Delete Customer</button>
                    

                    <!-- {{selectedCustomer | json}} -->

            </div>
        </div>
    </div>
</div>
